CLIENT_GATEWAY_PORT=3000
PRODUCTS_MS_PORT=3001
ORDERS_MS_PORT=3002
PAYMENTS_MS_PORT=3003
AUTH_MS_PORT=3004
AUTH_DB_URL=

STRIPE_SECRET_KEY=
STRIPE_ENDPOINT_SECRET=
STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel